<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="taskyandroid.taskyandroid" android:installLocation="auto">
	<application android:label="Tasky" android:debuggable="true" android:icon="@drawable/launcher"></application>
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest>